.header {
    height: 120px;
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
    
}

.header__navbar-list{
    list-style: none;
    padding: 4px 0;
    margin: 0;
}

.header__navbar-item {
    padding: 4px;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;  
    height: 12px;
    border: 1px solid #f86c5b;
    position: absolute;
    transform: translateX(-14px);
    margin-left: 8px;
    top: 9px;
}

.header__navbar-item,
.header__navbar-item--link{
    display: inline-block;
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--white-color);
    font-weight: 380;
}


.header__navbar-item--language {
    display: none;
}