.header {
    height: 120px;
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
    
}

.header__navbar-list,
.header__navbar-language-list {
    list-style: none;
    padding: 4px 0;
    margin: 0;
}

.header__navbar-item {
    padding: 4px;
    min-height: 26px;
    position: relative;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;  
    height: 12px;
    border: 1px solid #f86c5b;
    position: absolute;
    transform: translateX(-14px);
    margin-left: 8px;
    top: 9px;
}

.header__navbar-item,
.header__navbar-item--link{
    display: inline-block;
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--white-color);
    font-weight: 290;
}

.header__navbar-item--strong {
    font-weight: 600;
}

.header__navbar-language-list {
    display: none;
}
.header__navbar-item:hover .header__navbar-language-list {
    display: block;
}

.header__navbar-item:not(.header__navbar-item--no-hover):hover
.header__navbar-item--link {
    opacity: 0.7;
    cursor: pointer;
}

.header__navbar-item--qr-text:hover {
    opacity: 0.7;
    cursor: pointer;
}


.header__nav-icon{
    font-size: 1.45rem;
    color: var(--white-color);
}

/* QR code */
.header__qr {
 background-color: var(--white-color);
 width: 186px;
 position: absolute;
 left: 0;
 top: 100%;
 padding: 8px;
 border-radius: 3px;
 pointer-events: none;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps{
    display: flex;
}

.header__qr-platform {
    width: 100%;
}